body {
    font-family: "Open sans", sans-serif;
    color: #fff;
    background: #17191c;
    font-size: 14px;
    line-height: 1.42;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.main__page-wrapper {
    background: url("../images/hero.png") center top no-repeat,
        url("../images/bottom-pic.png") center bottom no-repeat;
    min-height: 100vp;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1150px;
}

.header {
    height: 120px;
    margin-bottom: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 255px;


}

.logo__pic {
    width: 198px;
    height: 46px;
}

.menu__list {
    display: flex;
    justify-content: space-between;


}

.menu__item {

    margin-right: 50px;
}

.menu__link {
    font-size: 14px;
    transition: color 1s;
}

.menu__link:hover {
    color: #ff3d00;

}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    font-size: 26px;
    margin-bottom: 3px;
}

.contacts__info {
    font-size: 13px;
    text-decoration: underline;
    color: #ff3d00;
}

.dropdown {
    position: relative;

}

.dropdown:hover .dropdown__window {
    right: 0;
    opacity: 1;
    
}

.dropdown__window {
    position: absolute;
    background: #CDD1D2;
    border-radius: 4px;
    padding: 10px;
    width: 160px;
    top: 100%;
    margin-top: 8px;
    opacity: 0;
    transition: opacity 0.2s;   
    right: -9999px;
}

.dropdown__window:before {
    content: "";
    display: block;
    height: 300px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;

}

.dropdown__list {
    text-align: center;
}

.dropdown__item {
    color: #1E1F20;
    font-size: 13px;
    font-weight: 700;
}

.contacts__description {
    color: #fff;
    font-size: 11px;
}

.hello-content {
    text-align: center;
    margin-bottom: 233px;
}

.hello__title {
    font-size: 72px;
    width: 38%;
    height: 38%px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 auto 18px;
    text-transform: uppercase;
    text-align: center;
}

.hello__subtitle {
    font-size: 18px;
    margin-bottom: 45px;
    text-align: center;
}

.button--color--dark {
    background: #ff5500;
    border-radius: 35px;
    padding: 18px 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s;
}

.button--color--dark:hover {
    background: #ff3d00;

}

.plans {
    margin-bottom: 138px;
}

.plans__list {
    display: flex;
    justify-content: space-between;
}

.plans__item {
    width: calc(100% / 3 - 18.6px);
    min-height: 476px;
    background: #ffffff;
    border-radius: 5px;


}

.plans__item:last-child {
    margin-right: 0;
}

.plans__icon {
    min-height: 80px;
    margin-bottom: 10px;
}

.plans__content {
    padding: 36px 30px;
    color: black;
}

.plans__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
}

.plan__features {
    display: flex;
    justify-content: space-between;
}

.plans__feature {
    width: 115px;
    margin-right: 56px;
    color: #666666;
    margin-bottom: 25px;
}

.plans__feature:last-child {
    margin-right: 0;
}

.plans__descriptions {
    display: flex;
    justify-content: space-between;
    color: #666666;
    width: 306px;
    margin-bottom: 75px;
}

.plan__description {
    margin-right: 10px;
}

.plans__button-wrapper {
    text-transform: uppercase;
}

.plans__button-wrapper {
    display: flex;
    justify-content: center;
}

.button--color--light {
    color: #ff5500;
    border: 1px solid #ff5500;
    border-radius: 35px;
    padding: 18px 50px;
    background: #fff;
    font-weight: bold;
    transition: all 0.5s;

}

.button--color--light:hover {
    color: #fff;
    background-color: #ff5500;


}

.news-and-offers {
    margin-bottom: 145px;
}

.news-and-offers__header {
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.news-and-offers__list {
    margin-bottom: 58px;
    display: flex;
    justify-content: space-between;

}

.news-and-offers__item {
    width: 555px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;

}

.news-and-offers__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-and-offers__content {
    position: absolute;
    bottom: 20px;
    padding: 10px 30px;
}

.news-and-offers__title {
    font-size: 24px;
    font-weight: bold;
}

.news-and-offers__description {
    font-size: 16px;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}


.paginator__display {
    margin-right: 26px;
}

.paginator__list {
    display: flex;
    align-items: center;

}

.paginator__item {
    text-align: center;

}

.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;

}

.pager__item--active .pager__link {
    background: #ff5500;
    transition: all 1s;
}

.pager__link:hover {
    background: #ff5500;

}

.article {
    margin-bottom: 53px;
    display: flex;

}

.about:before {
    content: "";
    display: block;
    width: 488px;
    height: 502px;
    background: url("../images/cameraman.png") center center /cover no-repeat;
}

.article__description {
    margin-left: 345px;
    margin-top: -400px;
    background: #fff;
    padding: 80px 98px;
    width: 785px;
    height: 455px;
    border-radius: 5px;
}

.article__title {
    font-weight: bold;
    font-size: 36px;
    color: black;
    font-size: 49px;
    font-weight: 800;
    margin-bottom: 30px;
}

.article__text {
    margin-bottom: 42px;
    font-size: 16px;
    color: #060606;

    width: 502px;
    height: 135px;
}

.article__text p {
    margin-bottom: 20px;
}

.article__text p:last-child {
    margin-bottom: 0;
}

.article__button {
    top: 850px;
}

.footer {
    height: 152px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer__col {
    display: flex;
    align-items: center;

}

.footer__col--align--right {
    justify-content: flex-end;
}


.footer__logo {
    margin-right: 125px;
}

.social-media__icons {
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;

}

.social-media__icon {
    width: 36px;
    height: 36px;
    background-color: #ccc;
    padding: 10px;
    border-radius: 50px;
    position: relative;
    margin-right: 10px;
}

.social-media__icon:last-child {
    margin-right: 0;
}
.telegram:hover:before {
    opacity: 1;
}

.telegram:hover:after {
    opacity: 0;

}
.telegram:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url("../images/sprites/css_sprites.png") -10px -10px;
    transition: .3s;

}

.telegram:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url("../images/sprites/css_sprites2.png") -10px -10px;
    opacity: 0;
    transition: .3s;
}

.vk:hover:before {
    opacity: 1;
}

.vk:hover:after {
    opacity: 0;
}

.vk:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url("../images/sprites/css_sprites.png") -66px -10px;
    transition: .3s;

}

.vk:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url("../images/sprites/css_sprites2.png") -66px -10px;
    opacity: 0;
    transition: .3s;
}

.facebook:hover:before {
    opacity: 1;
}

.facebook:hover:after {
    opacity: 0;
}

.facebook:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url("../images/sprites/css_sprites.png") -122px -10px;
    transition: .3s;

}

.facebook:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url("../images/sprites/css_sprites2.png") -122px -10px;
    opacity: 0;
    transition: .3s;
}

.instagram:hover:before {
    opacity: 1;
}

.instagram:hover:after {
    opacity: 0;
}

.instagram:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url("../images/sprites/css_sprites.png") -178px -10px;
    transition: .3s;

}

.instagram:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url("../images/sprites/css_sprites2.png") -178px -10px;
    opacity: 0;
    transition: .3s;
}







.footer__contacts {
    text-align: right;
}

.contacts__description {

    font-size: 11px;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 0;
}

.contacts__link {
    font-size: 26px;
}


/*services page*/



.top-line {
    min-height: 416px;
    background: url("../images/top-line.png")center top no-repeat;
    display: flex;
    flex-direction: column;

    background-size: cover;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.header__services {
    margin-bottom: 80px;
}

.top-line__title {
    font-size: 72px;

    text-transform: uppercase;
    font-weight: 800;
}

.breadcrumbs__container {
    margin-top: 50px;
    margin-bottom: 10px;
}

.breadcrumbs__list {
    display: flex;
    text-transform: none;
    font-weight: normal;
    color: #9A9A9A;
    margin-bottom: 10px;

}

.breadcrumbs__item--active {
    font-weight: 700;
}

.breadcrumbs__item:after {
    content: "/";
    margin: 0 5px;
    font-size: 14px;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link {
    font-size: 14px;
    margin-bottom: 10px;

}

.page__content {
    background-color: white;
    padding-bottom: 180px;
}

.section__videos {
    padding-top: 98px;
}

.videos-list__item {
    margin-bottom: 50px;
    display: flex;

}


.videos-list__pic {
    width: 460px;
    height: 333px;
    margin-right: 6%;

}

.videos-list__content {
    min-height: 300px;
    flex: 1;
}

.videos-list__header {
    color: black;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 28.5px;
}

.videos-list__description {
    color: #303030;
    font-size: 16px;
    margin-bottom: 75px;

}

.paginator__display--services {
    color: black;
}

.pager__link--services {
    color: black;
    font-size: 16px;
    transition: color 1s;
}

.pager__link--services:hover {
    color: white;
}

.pager__link--services--active {
    color: white;
}


.section-partners {
    background-color: white;
    color: black;
    font-size: 48px;
    font-weight: 700;
}

.partners__title {
    color: #1A1B1E;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 50px;
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;

}

.partners-list__item {
    min-height: 67px;
    min-width: 250px;
    padding: 13px 0;
    margin-bottom: 70px;
    text-align: center;
}

.partners-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
    transition: all 1.5s;
}

.partners-list__link:hover {
    filter: grayscale(0);

}



/*hello page styles*/

.welcome-page__wrapper {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background: url("../images/bg.png") center bottom/cover no-repeat;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}


.central {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-page--logo__pic {
    width: 538px;
    height: 147px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.welcome-page--rec__pic {
    margin: auto;

}

.welcome-page__btn {
    width: 168px;
    height: 55px;
    position: absolute;
    top: 270px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;

}

.central--video {
    opacity: 0;
    animation: rotateIn 0.9s;
    animation-fill-mode: forwards;
}


@keyframes rotateIn {
    from {
        transform: scale(0.1) rotate(30deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(3deg);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}


/*reviews page*/

.page-content {
    background: white;
    padding-top: 94px;
}

.reviews {
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 70px;

}

.review {
    display: inline-flex;
    flex-direction: column;
    background-color: #F4F5F5;
    padding: 50px 30px;
    margin: 17px 0;


}

.avatar {
    width: 142px;
    height: 142px;
    overflow: hidden;


}

.review__header {
    display: flex;
    align-items: center;

    margin-bottom: 30px;
}





.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #1A1B1E;
    margin-bottom: 11px;

}

.review__user:after {
    margin: 8px;

    content: url("../images/vk-blue\ 1.png");
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #303030;
    border-radius: 35px;
    height: 38px;

    background: #F2D4C9;
    text-align: center;
    padding: 8px 27px;

}

.review__title {
    color: #202020;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 29px;
}

.review__content-text {
    color: #818181;
    font-size: 16px;
    margin-bottom: 32px;
}

.review__date {
    font-size: 14px;
    font-weight: 600;
    color: #1A1B1E;
}

.paginator__reviews {
    padding: 45px;
}



.separator {
    background: #373737 url(../images/party.png) right 16% bottom no-repeat;


    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separator__content {
    max-width: 50%;

}

.separator__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
}

.discount {
    color: #FF3D00;
}

.form-section {
    background: #F4F5F5;

}

.form-section__title {
    color: #202020;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 56px;
    padding-top: 79px;
    width: 40%;

}


.form__row {
    display: flex;
    margin-bottom: 30px;
}



.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #fff;
    padding: 22px 30px;
    font-size: 18px;
    color: #1A1B1E;

}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.form__controls {
    display: flex;
    margin-bottom: 35px;

}

.form__controls-title {
    font-size: 18px;
    color: #1A1B1E;
    margin-right: 71px;
}

.controls__item {
    margin-bottom: 10px;
    margin-right: 10px;


}

.form__input:last-child {
    margin-right: 0px;
}

.form__input::placeholder {
    color: #1A1B1E;
}

.form__input--textarea {
    height: 235px;

}

.form__input--textarea::placeholder {
    color: #666;
}

.form__controls {
    display: flex;
}

.controls__elem {
    cursor: pointer;
}

.controls__tag {
    background: #E7E7E7;
    font-size: 13px;
    color: #303030;
}


.controls__checkbox:checked~.controls__tag {
    background: #F2D4C9;
}

.controls__checkbox {
    display: none;
}

.form__buttons {
    display: flex;
    justify-content: flex-end;
}





.button--color--grey {
    background: #8E8E8E;
    border-radius: 35px;
    padding: 18px 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s;

}

.button--color--grey:hover {
    background: #2B2B2B;

}

.reviews__button {
    border: none;
    margin-bottom: 96px;
    margin-right: 20px;



}

.review__button:last-child {
    margin-right: 0;
}